In [2]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("temp_matrix (25).csv")
#check the data types
data.dtypes

timestamp        int64
date            object
time            object
day             object
irradiance     float64
temperature    float64
00             float64
01             float64
02             float64
03             float64
04             float64
05             float64
06             float64
07             float64
08             float64
09             float64
10             float64
11             float64
12             float64
13             float64
14             float64
15             float64
16             float64
17             float64
18             float64
19             float64
20             float64
21             float64
22             float64
23             float64
24             float64
25             float64
26             float64
27             float64
28             float64
29             float64
30             float64
31             float64
pmax           float64
SCC              int64
panel           object
dtype: object

In [32]:
#clean data:
#clean = data[data.panel=='clean']

#dusty data:
#dusty = data[data.panel=='dusty']

#seperating data into frames:

#These are columns that don't need to be normalized
data1 = data[['timestamp','date','time','day','panel']]

#everything else minus the timestamp column does need to be normalized
data2 = data.select_dtypes(include = ['float64','int64'])
data2 = data2.drop(columns=['timestamp'])

In [31]:
#these columns are broken sensors, need to be replaced with 0's:
#01,02,04,07,12,15,16,19,24,27,29,30
data2.update(data2[['01','02','04','07','12','15','16','19','24','27','29','30']].fillna(0))

,irradiance,temperature,00,01,02,03,04,05,06,07,...,24,25,26,27,28,29,30,31,pmax,SCC
0,557.80,28.21,31.463,0.0,0.0,28.36625,0.0,30.656,29.6050,0.0,...,0.0,26.068,25.936,0.0,26.624,0.0,0.0,25.9125,8801.920,673
1,557.80,28.21,27.705,0.0,0.0,26.07400,0.0,26.949,26.3620,0.0,...,0.0,25.648,25.880,0.0,20.549,0.0,0.0,25.9610,7964.932,630
2,787.00,33.99,45.556,0.0,0.0,46.98625,0.0,47.513,48.3330,0.0,...,0.0,46.507,47.690,0.0,44.890,0.0,0.0,47.0325,56452.320,4520
3,787.00,33.99,46.665,0.0,0.0,44.95200,0.0,46.651,46.8200,0.0,...,0.0,47.396,48.307,0.0,0.000,0.0,0.0,45.7140,40853.528,4447
4,916.77,32.31,49.921,0.0,0.0,52.91900,0.0,52.556,53.6960,0.0,...,0.0,51.588,53.025,0.0,49.340,0.0,0.0,52.6700,61858.730,5299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3015,3.14,38.30,44.139,0.0,0.0,44.47500,0.0,43.627,43.8820,0.0,...,0.0,43.363,43.519,0.0,0.000,0.0,0.0,42.3010,7421.639,792
3016,3.14,38.30,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN,1429.268,224
3017,3.14,38.30,38.558,0.0,0.0,38.73900,0.0,38.527,38.6200,0.0,...,0.0,38.102,38.406,0.0,37.970,0.0,0.0,38.0150,671.760,140
3018,3.14,38.30,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN,0.000,1
3019,3.14,38.30,35.345,0.0,0.0,35.36000,0.0,35.500,35.3625,0.0,...,0.0,35.080,35.095,0.0,35.405,0.0,0.0,35.3300,0.000,1

In [35]:
#Handling the rest of the missing data, instead of replacing NaN with 0 we want to use the mean.
from sklearn.impute import SimpleImputer

imp=SimpleImputer(missing_values='NaN',strategy='mean',axis=0)
imp=imp.fit(data2[[]])